a{
	color: #000000;
}
.container2{
	margin: 5% auto;
	padding-bottom: 3%;
}
.container2 ul{
	margin-bottom: 0px;
	border-bottom: 1px solid #D6C666;
	padding: 3% 0;
}
.container2 ul .tailor img{
	width: 100%;
}
.col-sm-6{
	padding-right: 0px;
    padding-left: 0px;
}
.tailor{
	float: right;
}
.container2 ul .font{
	padding: 0px 10%;
}
.container2 ul .font a{
	font-size: 24px;
}
.container2 ul li p:nth-of-type(1){
	font-size: 19px;
    padding: 10px 0;
    color: #d6c666;
    margin: 0px;
}
.container2 ul li p:nth-of-type(2){
	font-size: 14px;
}
.font1{
	float: right;
}
.tailor1{
	float: left;
}
.custom{
	    margin-bottom: 3%;
}
